
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>css and js thymeleaf</title>
<link th:href="@{/css/main.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>fname</th>
				<th>lname</th>
				<th>role</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emp :${emp}">
				<td th:text="${emp.fname}"></td>
				<td th:text="${emp.lname}"></td>
				<td th:if="${emp.role}=='user'">Edit</td>
			</tr>
		</tbody>
	</table>
</body>
</html>